/*--- HERO ---*/
.hero{
	&__img{
	    width: 100%;
	    position: absolute;
	    top: 0;
	    min-height: 584px;
	    object-fit: cover;
	    object-position: top;
	    @include respond-to(md){
    	    max-height: 765px;
	    }
	}
	&__text-wrap{
		z-index: 2;
	    position: relative;
	    text-align: center;
	    min-height: 584px;
	    display: flex;
	    justify-content: flex-end;
	    flex-direction: column;
       	padding: 0 15px 76px;
       	@include respond-to(md){
            min-height: 680px;
    		padding: 0 55px 100px;
       	}
       	@include respond-to(lg){
	        min-height: 765px;
		    padding: 0 115px 100px;
       	}
	}
	h1{
	    font-size: 1.5rem;
    	font-weight: 500;
		color: $white-color;
	    margin-bottom: 14px;
    	line-height: 1.95rem;
    	@include respond-to(md){
		    font-size: 1.7rem;
		    margin-bottom: 4px;
		    line-height: 2.25rem;
    	}
	}
	.btn{
		display: none;
		@include respond-to(lg){
		    display: block;
		    position: absolute;
	        right: 14px;
		    bottom: 0;
		    margin-bottom: 0;
		    z-index: 2;
		}
	}
	.container{
		position: relative;
	}

}
/*--- /HERO ---*/