/*--- SEARCH ---*/
.search{
    margin-top: 2.1rem;
	form{
		position: relative;
	}
	&__input{
	    max-width: 100%;
	    border: none;
	    line-height: 2.25;
		padding: 0 14px;
	    width: 100%;
	    &:focus{
	    	outline: none;
	    }
	}
	button{
	    position: absolute;
	    right: 0;
	    top: 0;
	    bottom: 0;
	    z-index: 1;
	    background: transparent;
	    border: 0;
	    color: $dark-color;
        font-size: 1.3rem;
    	padding: 0 9px;
	}
	@include respond-to(md){
		margin-bottom: 2 * $gap;
	}
}
/*--- /SEARCH ---*/